* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#largeScreen {
    width: 295px;
    height: 150px;
    border: 1px solid black;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 30px
}

#operator, #equals, #decimal {
    width: 70px;
    height: 45px;
    font-size: 35px;
    box-shadow: 10px 10px lightblue;
}

#numbers {
    width: 70px;
    height: 45px;
    font-size: 35px;
    border-radius: 100px;
    
    
}

#largeScreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 60px;
    font-size: large;
    
}

#prevScreen {


height: 20px;
}

#currentScreen{
    display: flex;
    
   
    height: 20px;
}

#ac, #del {
    width: 145px;
    height: 40px;
    font-size: large;
}